# replace with your MongoDB Atlas connection string
MONGO_URI=

# the port you're using on your backend server
PORT=

# choose a long, random string for your JWT secret
JWT_SECRET=anythingyouwant

# your frontend URL
CLIENT_ORIGIN=http://localhost:5173

# github id of your app
GITHUB_CLIENT_ID= 

# github secret, helps with the final step
GITHUB_CLIENT_SECRET=

# where github will respond to your app (the route)
GITHUB_CALLBAK_URL=http://localhost:3000/api/users/auth/github/callback