.progress-bar,
.progress-indicator,
.progress-label {
    min-height: 20px;
}

.progress-bar {
    background-color: #DDD;
    width: 100%;
    text-align: center;
}
.progress-indicator {
    background-color: #7869bc;
}
.progress-label {
    font-size: 12px;
}