@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-text: #333333;
  --color-primary-link: #7869BC;
}

@layer base {
    :root {
        --color-primary-text: #333333;
        --color-primary-link: #7869BC;
        --color-button-text: #FFFFFF;
        --color-button-bg: #7869BC;
        --color-border: #DDD;
        --bg-img: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./assets/bg.jpg');
        --bg-primary: #FFFFFF;
        --bg-nav: rgba(255, 255, 255, 0.3);
        --bg-section: #F9FAFB;
    }
    .dark {
        --color-primary-text: #FFFFFF;
        --color-primary-link: #cabefd;
        --color-button-text: #FFFFFF;
        --color-button-bg: #4c3e89;
        --color-border: #666667;
        --bg-img: #FFFFFF;
        --bg-primary: #030712;
        --bg-nav: #333333;
        --bg-section: #111827;
    }
    body {
        background: var(--bg-img);
        background-size: cover;
        background-attachment: fixed;
        color: var(--color-primary-text);
        /* Use @apply to use Tailwind utilities */
        @apply text-[var(--color-primary-text)];
        @apply bg-[var(--bg-primary)];

        /* Or use standard CSS with Tailwind theme variables */
        /* &:hover {
            color: var(--color-blue-800);
        } */
    }
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    nav {
        background: var(--bg-nav);
        @apply flex flex-col items-center justify-center sm:flex-row sm:justify-start gap-4 py-4 mb-4 pr-4;
        @apply border-b border-[var(--color-border)];
    }
    h1 {
        @apply mb-8 text-4xl;
    }
    h2 {
        @apply mb-8 text-2xl text-center;
    }
    h3 {
        @apply mt-8 mb-2 text-2xl text-[var(--color-primary-link)] font-semibold;
    }
    p {
        @apply my-4;
    }
    a {
        color: var(--color-primary-link);
        /* Use @apply to use Tailwind utilities */
        /* @apply text-blue-600 underline transition-colors duration-200; */

        /* Or use standard CSS with Tailwind theme variables */
        &:hover {
            color: var(--color-blue-800);
        }
    }
    a>button {
        color: var(--color-button-text);
        /* Use @apply to use Tailwind utilities */
        /* @apply text-blue-600 underline transition-colors duration-200; */

        /* Or use standard CSS with Tailwind theme variables */
        /* &:hover {
            color: var(--color-blue-800);
        } */
    }
    section {
        @apply rounded p-8 my-8;
        @apply bg-[var(--bg-section)];
        @apply border border-[var(--color-border)];
    }
    button {
        @apply rounded border border-gray-500 bg-gray-200 py-2 px-4 disabled:text-gray-300 disabled:border-gray-300 cursor-pointer;
        @apply bg-[var(--color-button-bg)] text-[var(--color-button-text)];
    }
    .form-row {
        @apply grid;
    }
    .buttons {
        @apply flex gap-2 my-4;
    }
    label {
        @apply mr-2;
    }
    input,
    textarea,
    select {
        @apply rounded border bg-white placeholder:text-gray-500 px-2 py-2 my-2;
        @apply border-[var(--color-border)]
    }
    input[type='checkbox'] {
        @apply mr-2;
    }
    .status {
        @apply inline;
    }
    .status select {
        float: right;
        @apply mt-8;
    }
    .card {
        @apply mt-12 border-t border-gray-200
    }
    .details p {
        @apply my-1 text-sm;
    }
    .label {
        @apply font-semibold;
    }
    .highlight {
        @apply text-[var(--color-primary-link)];
    }
}